body {
    background: #111;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
}
main {
    width: 350px;
}

h1 {
    overflow: hidden;
    border-right: 0.15rem solid white;
    color: #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 1.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
    -webkit-animation: typing 1.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}
